# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ch2/ch2.iml
/ch1/ch1.iml
/.idea/
/shiro_zkt.iml
/ch3/ch3.iml
/ch4/ch4.iml
/ch5/ch5.iml
/ch6/ch6.iml
