# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ch2/ch2.iml
/ch1/ch1.iml
/shiro_zkt.iml
/ch3/ch3.iml
/ch4/ch4.iml
/ch5/ch5.iml
/ch6/ch6.iml
/ch7/ch7.iml
/.idea/
/ch8/ch8.iml
/ch9/ch9.iml
/ch10/ch10.iml
/ch11/ch11.iml
/ch12/ch12.iml
/ch15/ch15.iml
/ch15_server/ch15_server.iml
