<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--缓存管理器 - 使用EhCache实现-->
    <bean class="org.apache.shiro.cache.ehcache.EhCacheManager" id="ehCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache.xml"/>
    </bean>

    <!-- 凭证匹配器-realm -->
    <bean class="cn.cxy.shiro.credentials.RetryLimitHashedCredentialsMatcher" id="credentialsMatcher">
        <constructor-arg ref="ehCacheManager"/>
        <property name="hashAlgorithmName" value="md5"/>
        <property name="hashIterations" value="2"/>
        <property name="storedCredentialsHexEncoded" value="true"/>
    </bean>

    <!--realm实现-->
    <bean class="cn.cxy.shiro.realm.UserRealm" id="userRealm">
        <property name="userService" ref="userService"/>
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
        <property name="cachingEnabled" value="true"/>
        <property name="authenticationCachingEnabled" value="true"/>
        <property name="authenticationCacheName" value="authenticationCache"/>
        <property name="authorizationCachingEnabled" value="true"/>
        <property name="authorizationCacheName" value="authorizationCache"/>
    </bean>

    <!--会话ID生成器-->
    <bean class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator" id="javaUuidSessionIdGenerator"/>

    <!--会话DAO-->
    <bean class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO" id="cacheSessionDAO">
        <property name="activeSessionsCacheName" value="shiro-activeSessionCache"/>
        <property name="sessionIdGenerator" ref="javaUuidSessionIdGenerator"/>
    </bean>

    <!--会话验证调度器-->
    <bean class="org.apache.shiro.session.mgt.quartz.QuartzSessionValidationScheduler"
          id="quartzSessionValidationScheduler">
        <property name="sessionValidationInterval" value="1800000"/><!--单位：毫秒-->
        <property name="sessionManager" ref="sessionManager"/>
    </bean>

    <!--会话管理器-->
    <bean id="sessionManager" class="org.apache.shiro.session.mgt.DefaultSessionManager">
        <!--session过期时间（单位：毫秒）-->
        <property name="globalSessionTimeout" value="1800000"/>
        <!--是否过期删除-->
        <property name="deleteInvalidSessions" value="true"/>
        <!--激活定期session校验-->
        <property name="sessionValidationSchedulerEnabled" value="true"/>
        <!--session校验处理器-->
        <property name="sessionValidationScheduler" ref="quartzSessionValidationScheduler"/>
        <property name="sessionDAO" ref="cacheSessionDAO"/>
    </bean>

    <!--认证策略-->
    <bean class="org.apache.shiro.authc.pam.ModularRealmAuthenticator" id="authenticator">
        <property name="authenticationStrategy">
            <bean class="org.apache.shiro.authc.pam.AtLeastOneSuccessfulStrategy"/>
        </property>
    </bean>

    <!--权限角色解析器-->
    <bean class="org.apache.shiro.authz.ModularRealmAuthorizer" id="authorizer">
        <property name="permissionResolver">
            <bean class="org.apache.shiro.authz.permission.WildcardPermissionResolver"/>
        </property>
    </bean>

    <!--安全管理器-->
    <bean class="org.apache.shiro.mgt.DefaultSecurityManager" id="securityManager">
        <property name="authorizer" ref="authorizer"/>
        <property name="authenticator" ref="authenticator"/>
        <property name="realms">
            <list>
                <ref bean="userRealm"/>
            </list>
        </property>
        <property name="sessionManager" ref="sessionManager"/>
        <property name="cacheManager" ref="ehCacheManager"/>
        <!--cxy 激活rememberMe-->
        <property name="rememberMeManager" ref="rememberMeManager"/>
    </bean>

    <!--相当于与调用 SecurityUtils.setSecurityManager(securityManager) cxy 绑定-->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager"/>
        <property name="arguments" ref="securityManager"/>
    </bean>


    <!--Form表单验证-->
    <bean class="org.apache.shiro.web.filter.authc.FormAuthenticationFilter" id="formAuthenticationFilter">
        <property name="usernameParam" value="username"/>
        <property name="passwordParam" value="password"/>
        <!--记住我-->
        <property name="rememberMeParam" value="rememberMe"/>
        <property name="loginUrl" value="/WEB-INF/jsp/login.jsp"/>
    </bean>

    <!--会话Cookie模板-->
    <bean class="org.apache.shiro.web.servlet.SimpleCookie" id="sessionIdCookie">
        <!--cxy sid ???-->
        <constructor-arg value="sid"/>
        <property name="httpOnly" value="true"/>
        <!--cxy -1表示浏览器关闭时失效此Cookie（单位：秒）-->
        <property name="maxAge" value="-1"/>
    </bean>

    <!--cxy RememberMe配置：如果是浏览器登录，一般会把RememberMe的Cookie写到客户端中并保存下来-->
    <bean class="org.apache.shiro.web.servlet.SimpleCookie" id="rememberMeCookie">
        <constructor-arg value="rememberMe"/>
        <property name="httpOnly" value="true"/>
        <!--cxy cookie失效时间（单位：秒）-->
        <property name="maxAge" value="2592000"/>
    </bean>

    <!--rememberMe管理器-->
    <bean class="org.apache.shiro.web.mgt.CookieRememberMeManager" id="rememberMeManager">
        <!--cxy cipherKey为加密Cookie的密钥；默认AES算法-->
        <property name="cipherKey" value="#{T(org.apache.shiro.codec.Base64).decode('4AvVhmFLUs0KTA3Kprsdag==')}"/>
        <property name="cookie" ref="rememberMeCookie"/>
    </bean>

    <!--shiro web 过滤器 cxy - id 属性必须与 web.xml 中filter-name 相同 -->
    <bean class="org.apache.shiro.spring.web.ShiroFilterFactoryBean" id="shiroFilter">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/WEB-INF//jsp/login.jsp"/>
        <property name="unauthorizedUrl" value="/WEB-INF//jsp/unauthorized.jsp"/>
        <property name="successUrl" value="/WEB-INF//jsp/success.jsp"/>
        <property name="filters">
            <map>
                <entry key="authc" value-ref="formAuthenticationFilter"/>
            </map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                /jsp/index.jsp = anon
                /jsp/unauthorized.jsp = anon
                /jsp/login.jsp = anon
                /jsp/success.jsp = authc
                /logout = logout
                /** = user
            </value>
        </property>
    </bean>




    <!--cxy 生命周期处理【配置shiro注解(DefaultAdvisorAutoProxyCreator)支持必须】-->
    <bean class="org.apache.shiro.spring.LifecycleBeanPostProcessor" id="lifecycleBeanPostProcessor"/>

    <!--shiro 注解配置，仅在 lifecycleBeanProcessor 配置后生效-->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor"/>

    <import resource="spring-beans.xml"/>

</beans>